<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

<!-- VK Widget -->
<div id="#main-content" class="narrow floatRight">
  <h1 class="page_title"> Новости </h1>
  <div id="vk_groups"></div>
</div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, width: "877", height: "4000"}, 193155375);
</script>
